<section class="py-5">
    <div class="container pt-5">

        <div class="titel position-relative">
            <h1 class="text-center fw-bolder position-relative pt-3 mb-1">PORTFOLIO COMPONENT</h1>
            <div class="lins position-absolute d-flex justify-content-center align-items-center w-100">
                <div class="li"></div>
                <i class="fa-solid fa-star px-3"></i>
                <div class="li"></div>
            </div>
        </div>

        <div class="row py-5 overflow-hidden">
            <div class="col-md-4 overflow-hidden">
                <div class="position-relative p-2 ">
                    <img src="../../assets/images/poert1.png" alt="" class="w-100">
                    <div class="caption d-flex justify-content-center align-items-center text-white">
                        <i class="fa-solid fa-plus "></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="position-relative p-2 ">
                    <img src="../../assets/images/port2.png" alt="" class="w-100">
                    <div class="caption d-flex justify-content-center align-items-center text-white">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="position-relative p-2 ">
                    <img src="../../assets/images/port3.png" alt="" class="w-100">
                    <div class="caption d-flex justify-content-center align-items-center text-white">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="position-relative p-2 ">
                    <img src="../../assets/images/poert1.png" alt="" class="w-100">
                    <div class="caption d-flex justify-content-center align-items-center text-white">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="position-relative p-2 ">
                    <img src="../../assets/images/port2.png" alt="" class="w-100">
                    <div class="caption d-flex justify-content-center align-items-center text-white">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="position-relative p-2 ">
                    <img src="../../assets/images/port3.png" alt="" class="w-100">
                    <div class="caption d-flex justify-content-center align-items-center text-white">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>