<!--    foooter    -->
<footer class="p-5 text-white z-3">
    <div class="row p-5">
        <div class="col-md-4 text-center">
            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <span>Clark, MO 65243</span>
        </div>
        <div class="col-md-4 text-center">
            <h2>AROUND THE WEB</h2>
            <ul class="d-flex ms-5 pt-1">
                <li><i class="fa-brands fa-facebook fs-5 p-2 border rounded-circle "></i></li>
                <li><i class="fa-brands fa-twitter fs-5 p-2 border rounded-circle"></i></li>
                <li><i class="fa-brands fa-linkedin-in fs-5 p-2 border rounded-circle"></i></li>
                <li><i class="fa-solid fa-comment fs-5 p-2 border rounded-circle"></i></li>
            </ul>
        </div>
        <div class="col-md-4 text-center">
            <h2>ABOUT FREELANCER</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>

</footer>
<div class="footer2 text-center text-white py-4 ">
    <p class="m-0">Copyright © Your Website 2021</p>
</div>