<section class="about d-flex flex-column justify-content-center align-items-center text-white">
   <div class="container text-center">
    
    <div class="titel position-relative">
        <h1 class="fw-bolder position-relative mb-1">ABOUT COMPONENT</h1>
        <div class="lins position-absolute d-flex justify-content-center align-items-center w-100">
            <div class="li"></div>
            <i class="fa-solid fa-star px-3"></i>
            <div class="li"></div>
        </div>
    </div>

    <div class="caption d-flex justify-content-around pt-5">
        <p class="px-2">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

        <p class="px-2">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
   </div>
</section>