

<!--    navbr    -->
<div class="nav position-fixed w-100 d-flex justify-content-between align-items-center py-4 px-5 text-white z-3">

    <a ><h1 class="fs-2 m-0 ps-5 fw-bolder">START FRAMEWORK</h1></a>

<div class="links pe-5">
    <ul class="d-flex m-0">
        <li class="mx-2"><a class="p-2 rounded" routerLinkActive="p-1 rounded bg-success" routerLink="about">ABOUT</a></li>
        <li class="mx-2"><a class="p-2 rounded" routerLinkActive="p-1 rounded bg-success" routerLink="portfolio">PORTFOLIO</a></li>
        <li class="mx-2"><a class="p-2 rounded" routerLinkActive="p-1 rounded bg-success" routerLink="contact">CONTACT</a></li>
        <li class="mx-2"><a class="p-2 rounded" routerLinkActive="p-1 rounded bg-success" routerLink="gallery">GALLERY</a></li>
    </ul>
</div>
</div>







