

<section class="bg-secondary py-4">
    <div class="container">
        <div class="row text-white">
            @for (P of prodacts; track $index) {
                <div class="col-md-3 px-1 text-center">
                    <div>
                        <img src={{P.image}} class="w-100" alt="">
                        <h2>{{P.name}}</h2>
                        <span>{{P.price}}</span>
                        <p>{{P.categ}}</p>
                    </div>
                </div>
               }
            @for (P of prodacts; track $index) {
                <div class="col-md-3 px-1 text-center">
                    <div>
                        <img src={{P.image}} class="w-100" alt="">
                        <h2>{{P.name}}</h2>
                        <span>{{P.price}}</span>
                        <p>{{P.categ}}</p>
                    </div>
                </div>
               }
            @for (P of prodacts; track $index) {
                <div class="col-md-3 px-1 text-center">
                    <div>
                        <img src={{P.image}} class="w-100" alt="">
                        <h2>{{P.name}}</h2>
                        <span>{{P.price}}</span>
                        <p>{{P.categ}}</p>
                    </div>
                </div>
               }
            @for (P of prodacts; track $index) {
                <div class="col-md-3 px-1 text-center">
                    <div>
                        <img src={{P.image}} class="w-100" alt="">
                        <h2>{{P.name}}</h2>
                        <span>{{P.price}}</span>
                        <p>{{P.categ}}</p>
                    </div>
                </div>
               }
            @for (P of prodacts; track $index) {
                <div class="col-md-3 px-1 text-center">
                    <div>
                        <img src={{P.image}} class="w-100" alt="">
                        <h2>{{P.name}}</h2>
                        <span>{{P.price}}</span>
                        <p>{{P.categ}}</p>
                    </div>
                </div>
               }
    
        </div>
    </div>
</section>
     