<section class="pt-5">
    <div class="container d-flex flex-column align-items-center justify-content-center h-100 pt-5 text-white">
        <div class="logo">
            <img src="../../assets/images/avataaars.svg" alt="" class="w-100">
        </div>
        <div class="caption py-5 text-center">

            <div class="titel position-relative">
                <h1 class="position-relative mb-1">START FRAMEWORK</h1>
                <div class="lins position-absolute d-flex justify-content-center align-items-center w-100">
                    <div class="li"></div>
                    <i class="fa-solid fa-star px-3"></i>
                    <div class="li"></div>
                </div>
            </div>
            
            <p class="pt-5">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>